{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spend Management - Bill</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/flaticon.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
{{bill.amount}}
<nav class="navbar navbar-inverse bg-green menu-bill">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand name-brand" href="#">Spend Management</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bill
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'bill_ui:create' %}">New Bill</a></li>
                    <li><a href="{% url 'bill_ui:list' %}">Bill List</a></li>
                </ul>
            </li>
            <li><a href="#">Report</a></li>
        </ul>
    </div>
</nav>
<div class="row">

</div>

<script src="{% static 'javascript/jquery.min.js' %}"></script>
<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/slideAnimation.js' %}"></script>
<script src="{% static 'javascript/fontawesome-all.js' %}"></script>
<script src="{% static 'javascript/index.js' %}"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({
        dateFormat: "yy-mm-dd"
    });
  } );
</script>
</body>
</html>
