	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/02/2018 07:29
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../assets/fonts/Flaticon.eot");
  src: url("../assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/Flaticon.woff") format("woff"),
       url("../assets/fonts/Flaticon.ttf") format("truetype"),
       url("../assets/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../assets/fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-share:before { content: "\f100"; }
.flaticon-link-symbol:before { content: "\f101"; }
.flaticon-eye-open:before { content: "\f102"; }
