.nav {
  border-top: 1px solid #eaeaea;
  padding: 30px 0px 30px 0px;
}

.flex-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-flow: row wrap;
}

.flex-menu-item {
  margin-top: 10px;
  color: black;
  text-align: center;
}

.flex-menu-item a {
  text-decoration: none;
  color: #323232;
  padding: 0px 18px 0px 18px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
} 

.flex-menu-item a:hover {
  color: #34c663;
  transition: all 0.15s ease-in-out 0s;
}

.flex-menu-item a .flex-menu-icon {
  -webkit-text-stroke: 2px white;
  padding: 2px 0px 0px 2px; 
}

.flex-menu-dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
}

.flex-menu-dropdown ul li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-menu-dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  list-style-type: none;
  padding-left: 0px;
  background-color: #ffffff;
  padding-top: 10px;
  width: 500px;
}

.flex-menu-dropdown-content a:hover {
  color: #34c663;
  transition: all 0.15s ease-in-out 0s;
}

.flex-menu-dropdown:hover .flex-menu-dropdown-content {
  display: block;
}

.color-stripe .row > div {
  background-color: #34c663;
  height: 5px;
  margin: 0;
}

.color-stripe .row > div:first-child {
  background-color: #f7c052;
}

.color-stripe .row > div:last-child {
  background-color: #e85342;
}

.footer-container {
  background-color: #323232;
}

[class*="col-"] {
  margin-bottom: 15px;
  margin-top: 15px;
}

.widget-footer-title {
  text-transform: uppercase;
  margin: 0px 0px 36px 0px;
  position: relative;
  color: #fff;
}

.widget-container {
  text-align: center;
  color: #b4b4b4;
}

.widget-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.widget-container ul li a {
  color: #b4b4b4;
  text-decoration: none;
  line-height: 30px;
}

.widget-container ul li i {
  color: #34c663;
  padding-right: 5px;
  line-height: 24px;
}

.widget-container p {
  color: #b4b4b4;
  line-height: 21px;
  margin-bottom: 18px;
}

.widget-container ul li span {
  color: #f7c052;
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 35px;
  text-transform: uppercase;
}

.widget-container ul li a:hover {
  color: #34c663;
}