body {
  background-image: url("");
  color: 333;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*responsive for mobile */
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/* responsive for image in box collumn */
.img-responsive{
  max-width: 300px;
  min-width: 300px;
  min-height: 300px;
  max-height: 300px;
}

.container {
  width: 100% !important;
  padding: 0px;
}
/* custom fonts */
@font-face {
  font-family: 'Merriweather';
  src: url('../assets/fonts/Merriweather-Regular.ttf');
}
/* background colors */
.bg-white{
  background-color: #fff;
}

.bg-black{
  background-color: #323232;
  color: #fff;
}

.bg-yellow{
  background-color: #f7c052;
}

.bg-green{
  background-color: #34c663;
}

.bg-red{
  background-color: #e85342;
}
/*font colors */
.text-green-highlight{
  color: #34c663;
}

.text-yellow-highlight{
  color: #f7c052;
}

.text-red-highlight{
  color: #e85342;
}
/* text hover */
.text-yellow-hover:hover {
  color: #f7c052;
  cursor: pointer;
}

.text-green-hover:hover {
  color: #34c663;
  cursor: pointer;
}

.text-red-hover:hover {
  color: #e85342;
  cursor: pointer;
}

.menu-bill {
  color: #fff !important;
}

.name-brand {
  color: #000 !important;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

@media (max-width: 767px)
bootstrap.min.css:5
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #fff !@important;
  }
